<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {{pc_backup_wizard_for_windows}}
    </title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'/>
<script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <section id="header">
      <div class="row">
      </div>
    </section>
    <section id="info" class="page3">
      <div class="row">
        <div class="small-12  header text-left heading top columns">
          <h3>
            {{pc_backup_wizard_for_windows1}}
          </h3>
        </div>
        <div class="content">
          <div class="info left">
            <div class="small-2 text-center none columns">
<img src="images/img_encryption.png" alt=""/>
            </div>
            <div class="small-10      none columns">
              <h5>
                {{encryption_level}}
              </h5>
              <h6>
                {{how_do_you_want_to_protect_your_data}}
              </h6>
            </div>
          </div>
          <div class="labels">
            <div class="small-6 columns">
              <div class="small-6 none right columns">
                <div class="panel text-center green">
                  <h3>
                    {{secure}}
                  </h3>
                  <h4>
                    {{128_ssl}}
                  </h4>
                  <h5>
                    {{home_use}}
                  </h5>
                  <h3 class="small">
                    {{_faster_speed}}
                  </h3>
                  <div class="selector">
                    <input name="secure" type="radio"/>
                    <h3 class="border">
                      {{select}}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-6   columns">
              <div class="small-6 none columns">
                <div class="panel text-center purple">
                  <h3>
                    {{unbreakable}}
                  </h3>
                  <h4>
                    {{256_ssl}}
                  </h4>
                  <h5 class="blue">
                    {{business_use}}
                  </h5>
                  <h3 class="small orange">
                    {{_takes_longer}}
                  </h3>
                  <div class="selector">
                    <input name="unbreakable" type="radio"/>
                    <h3 class="border">
                      {{select1}}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="small-12 text-center columns">
<a class="continue border" href="page4.html">{{continue}}</a>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="small-6 columns none">
            <ul>
              <li style="margin-left: 0">
<a href="#">{{stop_backup}}</a>
              </li>
              <li>
<img src="images/img_lock.png" alt=""/>{{256_bit_ssl_secure_connection}}
              </li>
            </ul>
          </div>
          <div class="small-6 text-right columns none">
            <ul>
              <li>
<a href="#"><img src="images/logo_mca.png" alt=""/></a>
              </li>
              <li>
<a href="#"><img src="images/logo_norton.png" alt=""/></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <div id="close-ask-form" style="visibility: hidden">
      <div>
        <input type="radio" name="action" value="{{remind}}" checked onchange="ga('send', 'event', 'form', 'select', 'stop backup');"/>
{{stop_but_remind_me_later}}
      </div>
      <div>
        <input type="radio" name="action" value="{{stop}}" onchange="ga('send', 'event', 'form', 'select', 'close backup');"/>
{{exit_without_back_up}}
      </div>
      <br/>
      <button id="apply-close-form-button" onclick="ga('send', 'event', 'form', 'click', 'close ok');">
        {{ok}}
      </button>
      <button id="hide-close-form-button" onclick="ga('send', 'event', 'form', 'click', 'close continue');">
        {{continue_backup}}
      </button>
    </div>
<script src="js/vendor/jquery.js"></script><script src="js/foundation.min.js"></script><script>
     $(document).foundation();
    </script><script>
$(function() {
  $('input[name="secure"]').on('click', function() {
    $('input[name="unbreakable"]').prop('checked', false);
  });

  $('input[name="unbreakable"]').on('click', function() {
    $('input[name="secure"]').prop('checked', false);
  });
});
    </script>
  </body>
</html>

